    <header class="flex-container top-page">
        <div class="logo-box flex-item">
            <ul>
                <li> <img src="img/graphicdesignerright3.png" class="circular--profilepic" title="sarah robbins logo" alt="PlaceHolder Logo" height="200"></li>
                <li> <h1 class="headline-copy title-name" style="color:WHITE;line-height:10px;"></h1></li>
           
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="#type">Type</a></li>
                <li><a href="#text">Text+Images</a></li>
                <li><a href="#colors">Colors</a></li>
                <li><a href="#widgets">Widgets</a></li>
            </ul>
        </nav>
    </header>
