body{
}



body {
    margin:0;
    /* border-top:5px solid black; */
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* .circular--profilepic {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 70%;
  }
  

/* header.flex-container {
    border:1px solid white;
} */


a {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 95, 69);
}

.circular--profilepic img {
    width: auto;
    height: 100%;
    margin-left: 20px; }

h1,h2,h3,h4,h5,h6 {
text-transform: uppercase;
}

nav > ul > li {
    display: inline;
    margin-right:25px;
} 

article {
    width:600px;
    margin:25px;
}

article > header > h1 {
    font-size:1.8em;
    color: rgb(241, 95, 69) 
}

article > header + h2 {
    margin-top:-25px;
    color: rgb(27, 47, 102);
}

article > header + p {
    margin-top:60px;
} 

.body-copy {
    font-family: 'Roboto Slab', serif;
}

.headline-copy {
    font-family: 'Roboto Condensed', sans-serif;

}

code {
    background-color: rgb(27, 47, 102);
    color:white;
    padding:15px;
    line-height: 60px;
}


section {
    margin:50px 50px;
}

.section-title {
    font-size:2em;
    border-bottom:1px solid black;
    width:100%;
    display:block;
}


.flex-container {
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flex-item {
    margin-right:auto;
}
.color-item {
    list-style-type: none;
    display:inline-block;
    width:200px;
    height:200px;
    margin:10px;
    border:1px solid black;
}

.color-list li:nth-child(4) {
    content: '##FCD602  \a RGB:rgb(252, 214, 2)';
    white-space: pre;
}

.color-list li:nth-child(4) {
    background-color: rgb(252, 214, 2);
    color: white;
    letter-spacing:1px;
    font-weight:bold;
    padding:5px;
}

.color-list li:nth-child(5) {
    content: '#1B2F66  \a RGB:rgb(27, 47, 102)';
    white-space: pre;
}

.color-list li:nth-child(5) {
    background-color: rgb(27, 47, 102);
    color: white;
    letter-spacing:1px;
    font-weight:bold;
    padding:5px;
    }

.color-list li:nth-child(1) {
    background-color: rgb(37, 64, 141);
    color: white;
    letter-spacing:1px;
    font-weight:bold;
    padding:5px;
}

.color-list li:nth-child(1) {
    content: '#25408d  \a RGB: 37 64 141';
    white-space: pre;
}

.color-list li:nth-child(2) {
    background-color: rgb(223, 174, 161);
    color: white;
    letter-spacing:1px;
    font-weight:bold;
    padding:5px;
}

.color-list li:nth-child(2) {
    content: '#dfaeal  \a RGB: 223 174 161';
    white-space: pre;
}
.color-list li:nth-child(3) {
    background-color: rgb(241, 95, 69);
    color: white;
    letter-spacing:1px;
    font-weight:bold;
    padding:5px;
}
.color-list li:nth-child(3) {
    content: '#f15f60  \a RGB:rgb(241, 95, 69)';
    white-space: pre;
}
    

.logo-box{
    position:relative;
    width: 900px;
    height:200px;
    padding:10px 10px 10px 50px;
    /* background-color:darkblue; */
}

.top-page {
    width: 100%;
    height:300px;
    background-color:darkblue;
}

header > div > ul > li {
    display: inline;
} 

.title-name {
    width: 300px;
    margin: auto;
    display: inline;
}

/* .logo-box:after {
    position: absolute;
    left: 281px;
    top: 0px;
    content: '';
    border-bottom: 70px solid white;
    border-left: 39px solid transparent; */
}

figure {
    border-bottom:5px solid black;
    margin:0;
    
}
figure > img.feature {
   
    margin-bottom: -5px;
}

a {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

a:hover {
    color: rgb(241, 95, 69);
}

© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About




/* updated code? */
/* body {
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    
}
section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border:1px solid black;
    min-height: 600px;
}

/* .circular--square {
    border-radius: 0%;
  } */

  /* .circular--profilepic {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 70%;
  }
  
  .circular--profilepic img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }

.section-item {
    margin: auto;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline;
    margin: 10px;
}

h1 {
    border-bottom: 5px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    
}


.body-copy {
    font-family: 'Roboto Slab', serif;
}

.headline-copy {
    font-family: 'Roboto Condensed', sans-serif;
 */ */

